<h1>Home Page</h1>
<!-- <div class="main-content"> -->
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!-- loop over the collection of products -->
                <div *ngFor="let tempProduct of list; index as num" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/product/{{ tempProduct.id }}">
                            <img src="{{tempProduct?.image_url}}" class="img-responsive">
                        </a><br>
                        
                        <a routerLink="/product/{{ tempProduct.id }}">
                            <h1>{{tempProduct?.name}}</h1>
                        </a>
                        
                        <div class="price">{{tempProduct?.unit_price | currency:'Rs: '}}</div>
                        <a routerLink="#" class="primary-btn">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->