<div class="topdiv">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
</div>
<div class="secdiv">
    <a routerLink="#">Stores & Events</a>
    <a routerLink="#">Shopping Services</a>
    <a routerLink="#"> LK flag LKR </a>
</div><hr>
<div class="topnav">
    <a routerLink="home">Site Name</a>
    <!-- <div class="search-container">
      <form> -->
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="material-icons">search</i></button>
        <span class="material-icons">shopping_cart</span>
      <!-- </form>
    </div> -->
  </div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Home">
        <app-save-product></app-save-product>
    </mat-tab>
    <mat-tab label="About Us">
        <app-get-product></app-get-product>
    </mat-tab>
    <mat-tab label="Contact Us">
        <app-update-product></app-update-product>   
        </mat-tab>
</mat-tab-group>
  <hr>
