<div class="topdiv">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
</div>
<div class="secdiv">
    <a routerLink="#">Stores & Events</a>
    <a routerLink="#">Shopping Services</a>
    <a routerLink="#"> LK flag LKR </a>
</div><hr>
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Site Name</a>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    <span class="material-icons">shopping_cart</span>
  </form>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact Us</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" routerLink="/home">Action</a>
        <a class="dropdown-item" routerLink="/about">Another action</a>
        <a class="dropdown-item" routerLink="/contact">Something else here</a>
      </div>
    </li>
  </ul>
</div>
</nav>


