.topdiv{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
}
.secdiv{
  text-align: end;
  padding-top: 8px;
}
.secdiv a{
  color: rgb(10, 10, 10);
  margin-right: 5vh;
  text-decoration: none;
}

// .navbar-nav{
//     text-align: center;
// }

a.nav-link{
  display: flex;
  font-size: large;
  margin-right: 60px;
  align-self: flex-end;
}

.material-icons{
  padding-left: 10px;
}

footer{
  margin-top: 20%;
  // align-self: flex-end;
}