<h3 style="color: #d35400;">Product Management</h3>
<hr>
<mat-tab-group>
    <mat-tab label="Save Product">
        <app-save-product></app-save-product>
    </mat-tab>
    <mat-tab label="Get Product">
        <app-get-product></app-get-product>
    </mat-tab>
    <mat-tab label="Update Product">
        <app-update-product></app-update-product>   
        </mat-tab>
    <mat-tab label="Delete Product">
        <app-delete-product></app-delete-product>
    </mat-tab>
    <mat-tab label="Get All Products">
        <app-get-all-products></app-get-all-products>
    </mat-tab>
</mat-tab-group>
  